@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&family=RocknRoll+One&display=swap');

:root {
  --main-color-dark: #0A474A;
  --main-color-light: #7B9693;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'RocknRoll One';
}

.container {
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  margin: 0 auto;
}

.col-1 {
  width: 8.333333%;
}
.col-2 {
  width: 16.666666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333333%;
}
.col-5 {
  width: 41.666666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333%;
}
.col-8 {
  width: 66.666666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.333333%;
}
.col-11 {
  width: 91.666666%;
}
.col-12 {
  width: 100%;
}

.ps {
  padding-left: 2rem;
}
.pe {
  padding-right: 2rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}

.nav-bar .brand {
  width: 100px;
}

.nav-bar .brand img {
  width: 100%;
}

.nav-bar .menu {
  display: flex;
  margin-right: 150px;
}

.nav-bar .menu .menu-item {
  margin: 0 25px;
}

.nav-bar .menu .menu-item a {
  color: var(--main-color-light);
  text-decoration: none;
  transition: .5s;
}

.nav-bar .menu .menu-item a.active {
  color: var(--main-color-dark);
}

.nav-bar .menu .menu-item a:hover {
  color: var(--main-color-dark);
  transition: .5s;
}

.first-content .title {
  margin-top: 100px;
  font-size: 54px;
  color: var(--main-color-dark);
}

.first-content .subtitle {
  margin-top: 30px;
  color: var(--main-color-light);
}

.first-content .button {
  background: var(--main-color-dark);
  color: #fff;
  padding: 20px 40px;
  font-size: 18px;
  margin: 50px 0 100px;
  outline: none;
  border: 1px solid var(--main-color-dark);
  border-radius: 2px;
  cursor: pointer;
  transition: .5s;
}

.first-content .button:hover {
  color: var(--main-color-dark);
  background: #fff;
  transition: .5s;
}

.first-content .first-image {
  width: 100%;
}

.first-content .first-image img {
  width: 100%;
  border-radius: 0 0 50% 50%;
}

.first-content .second-image {
  width: 100%;
}

.first-content .second-image img {
  width: 100%;
  border-radius: 50% 50% 0 0;
}

.first-content .pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.first-content .pagination .text {
  font-size: 24px;
  color: var(--main-color-light);
}

.first-content .pagination .buttons button {
  color: var(--main-color-dark);
  font-size: 16px;
  padding: 10px 15px;
  outline: none;
  border: 1px solid var(--main-color-dark);
  border-radius: 50%;
  cursor: pointer;
  transition: .5s;
}

.disabled {
  cursor: not-allowed !important;
  color: var(--main-color-light) !important;
  border: 1px solid var(--main-color-light) !important;
}

.first-content .progress {
  margin: 20px 0;
  height: 5px;
  border-radius: 5px;
  background: var(--main-color-light);
}

.first-content .progress .active-part {
  width: 25%;
  height: 5px;
  border-radius: 5px;
  background: var(--main-color-dark);
}

.first-content .counter {
  font-size: 24px;
  color: var(--main-color-light);
}

.first-content .counter span {
  color: var(--main-color-dark);
}

.second-content {
  width: 50%;
  margin: 100px auto;
  text-align: center;
}

.second-content .text {
  font-family: 'Fira Sans';
  font-size: 32px;
  color: var(--main-color-dark);
}

.third-content {
  justify-content: center;
  align-items: center;
}

.third-content .logo {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 150px;
  padding: 20px;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
  overflow: hidden;
}

.third-content .logo img {
  width: 100%;
}

.third-content .col-2:nth-child(1) .logo:nth-child(1) {
  border-radius: 50% 0 0 50%;
}

.third-content .col-2:nth-child(2) .logo:nth-child(1) {
  border-radius: 50% 50% 0 0;
}

.third-content .col-2:nth-child(2) .logo:nth-child(2) {
  border-radius: 0 0 50% 50%;
}

.third-content .col-2:nth-child(3) .logo:nth-child(1) {
  border-radius: 50% 50% 0 0;
}

.third-content .col-2:nth-child(3) .logo:nth-child(3) {
  border-radius: 0 0 50% 50%;
}

.third-content .col-2:nth-child(4) .logo:nth-child(1) {
  border-radius: 50% 50% 0 0;
}

.third-content .col-2:nth-child(4) .logo:nth-child(2) {
  border-radius: 0 0 50% 50%;
}

.third-content .col-2:nth-child(5) .logo:nth-child(1) {
  border-radius: 0 50% 50% 0;
}

.fourth-content {
  background: #fafafa;
}

.fourth-content .col-12 > .title {
  font-size: 36px;
  color: var(--main-color-dark);
  margin: 40px 0;
}

.fourth-content .col-12 > .subtitle {
  font-size: 18px;
  color: var(--main-color-light);
  width: 60%;
}

.fourth-content .card {
  margin: 100px 50px 100px 0;
}

.fourth-content .card .number {
  font-family: 'Fira Sans';
  color: var(--main-color-light);
  font-size: 48px;
}

.fourth-content .card .title {
  color: var(--main-color-dark);
  font-size: 24px;
}

.fourth-content .card .subtitle {
  margin: 20px 0;
  color: var(--main-color-light);
  font-size: 12px;
}

.fifth-content {
  background: var(--main-color-dark);
}

.fifth-content .left-content {
  width: 80%;
}

.fifth-content .main-title {
  margin-top: 100px;
  color: #fff;
  font-size: 36px;
}

.fifth-content .subtitle {
  margin: 20px 0;
  color: var(--main-color-light);
  font-size: 16px;
}

.fifth-content .right-content {
  margin: 250px 0 50px 167px;
}

.fifth-content .first-image img {
  width: 100%;
  border-radius: 50% 50% 0 0;
}

.fifth-content .title {
  color: #fff;
  font-size: 24px;
}

.fifth-content .button {
  background: #fff;
  color: var(--main-color-dark);
  padding: 20px 40px;
  font-size: 18px;
  margin: 50px 0;
  outline: none;
  border: 1px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  transition: .5s;
}

.fifth-content .button:hover {
  background: var(--main-color-dark);
  color: #fff;
  transition: .5s;
}

.fifth-content .second-image img {
  width: 100%;
  border-radius: 50%;
}

.fifth-content .third-image {
  margin-bottom: 50px;
}

.fifth-content .third-image img {
  width: 100%;
  border-radius: 0 0 50% 50%;
}

.sixth-content {
  align-items: flex-end;
  margin: 100px auto;
}

.sixth-content .first-image img {
  width: 100%;
  border-radius: 50% 50% 0 0;
}

.sixth-content .subtitle {
  margin: 20px 0;
  color: var(--main-color-light);
  font-size: 16px;
}
.sixth-content .title {
  color: var(--main-color-dark);
  font-size: 36px;
}
.sixth-content .button {
  background: var(--main-color-dark);
  color: #fff;
  padding: 20px 40px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--main-color-dark);
  border-radius: 2px;
  cursor: pointer;
  transition: .5s;
}

.sixth-content .button:hover {
  background: #fff;
  color: var(--main-color-dark);
  transition: .5s;
}

.seventh-content {
  margin: 150px 0;
}

.seventh-content .container {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.seventh-content .container .title {
  font-size: 32px;
  color: var(--main-color-dark);
}

.seventh-content .container .buttons button {
  color: var(--main-color-dark);
  font-size: 16px;
  padding: 10px 15px;
  outline: none;
  border: 1px solid var(--main-color-dark);
  border-radius: 50%;
  cursor: pointer;
  transition: .5s;
}

.disabled {
  cursor: not-allowed !important;
  color: var(--main-color-light) !important;
  border: 1px solid var(--main-color-light) !important;
}

.seventh-content .wrapper {
  margin-left: 50px;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

.seventh-content .card {
  max-width: 30%;
  padding: 20px;
  flex-basis: 30%;
  flex-grow: 0;
  flex-shrink: 0;
}

.seventh-content .card .image img {
  width: 100%;
}

.seventh-content .card .title {
  margin-top: 20px;
  font-size: 24px;
  color: var(--main-color-dark);
}

.seventh-content .card .subtitle {
  font-size: 14px;
  color: var(--main-color-light);
  margin: 20px 0;
}

.eighth-content {
  padding: 50px 0;
  background: #fafafa;
}

.eighth-content .first-col {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}

.eighth-content .first-col .brand {
  width: 100px;
  height: 100px;
}

.eighth-content .first-col .brand img {
  width: 100%;
}

.eighth-content .first-col .links .title {
  color: var(--main-color-dark);
  font-size: 24px;
  margin-bottom: 20px;
}

.eighth-content .first-col .links .link {
  color: var(--main-color-light);
  background: #fafafa;
  display: block;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  font-size: 14px;
  transition: .5s;
}

.eighth-content .first-col .links .link:hover {
  color: var(--main-color-dark);
  transition: .5s;
}

.eighth-content .second-col .title {
  color: var(--main-color-dark);
  font-size: 24px;
  margin-bottom: 20px;
}

.eighth-content .second-col .form {
  margin-bottom: 30px;
}

.eighth-content .second-col .form .input {
  display: inline-block;
  width: 60%;
  padding: 20px 0 20px 30px;
  border-radius: 40px 0 0 40px;
  outline: none;
  background: #fff;
  color: var(--main-color-light);
  border: none;
}

.eighth-content .second-col .form .button {
  display: inline-block;
  width: 30%;
  padding: 20px 0;
  border-radius: 0 40px 40px 0;
  background: var(--main-color-dark);
  color: #fff;
  border: 1px solid var(--main-color-dark);
  cursor: pointer;
  transition: .5s;  
}

.eighth-content .second-col .form .button:hover {
  background: #fff;
  color: var(--main-color-dark);
  transition: .5s;
}

.eighth-content .second-col .subtitle {
  color: var(--main-color-light);
  font-size: 14px;
  margin-bottom: 20px;
}

.eighth-content .second-col .socials {
  margin: 50px 0;
  font-size: 32px;
  display: flex;
}

.eighth-content .second-col .socials .social {
  background: #fff;
  display: flex;
  color: var(--main-color-dark);
  width: 75px;
  height: 75px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 5px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--main-color-light);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color-dark);
  border: 2px solid var(--main-color-light);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}